* {
  box-sizing: border-box;
  margin: 0;
}

#grid {
  width: 602px;
  height: 602px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

#grid div {
  border: 1px solid black;
}

button {
  height: 30px;
  background: cadetblue;
  font-size: 14px;
  color: white;
}

.header {
  background: darkgray;
  height: 60px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 800;
}

.mainContent {
  margin: 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings {
  width: 600px;
  display: flex;
  justify-content: end;
  gap: 1em;
  margin-bottom: 20px;
}

input {
  height: 30px;
}